<!DOCTYPE html>
<html>
  <head>
    <title>Stella Lab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="app-body">
    <div class="app-shell">
      <!-- Left side: fixed sidebar -->
      <%= render 'shared/sidebar' %>

      <!-- Right side: header + main content + footer -->
      <div class="app-main">
        <%= render 'shared/navbar' %>

        <main class="app-content">
          <% if notice.present? %>
            <p class="flash flash-notice"><%= notice %></p>
          <% end %>
          <% if alert.present? %>
            <p class="flash flash-alert"><%= alert %></p>
          <% end %>

          <%= yield %>
        </main>

        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>